@import 'mixins';
@import 'header';
@import 'footer';

html, * { 
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body { 
    min-width: 320px 
}

button, input[type=submit]{
    cursor: pointer;
}

.main__header{
    position: relative;
    background-image: url("../img/hotel-room-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    &__bg_color{
        background-color: #333333C9;
    }
    
    &__text{
        padding-inline: 1.25rem;
        padding-block: 4.6875rem;

        &--luxury{
            width: 80%;
            margin-bottom: 1.25rem;
            font-family: "Archivo";
            font-weight: 700;
            font-size: 0.8125rem;
            line-height: 1.125rem;
            letter-spacing: 2.8px;
            text-transform: uppercase;
        }
        
        &--details, &--details>pre{
            font-family: "Old Standard TT";
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 3.75rem;
            letter-spacing: -1.2px;
        }
    }

    &__buttons{
        padding-inline: 1.25rem;
        padding-bottom: 4.6875rem;

        &__tour{
            @include miranda_button($width: 70%, $f_family: "Archivo", $f_weight: 700, $f_size: 0.875rem, $l_spacing: 2.8px);
            margin-bottom: 1.5rem;
        }

        &__learn{
            @include miranda_button($width: 70%, $f_family: "Archivo", $f_weight: 700, $f_size: 0.875rem, $l_spacing: 2.8px);
            background-color: transparent;
            border: 2px solid rgba($color: white, $alpha: 0.33);
        }
    }
}

.breadcrumbs{
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    padding: 1rem 1.875rem;
    background-color: white;
    color: $miranda_black;
    font-family: "Archivo";
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: -0.48px;

    span{
        color: $miranda_main_color;
    }
}

@media screen and (min-width: 1000px) {
    .main__header{
        height: 22rem;

        &__bg_color{
            height: 22rem;
        }

        &__text{
            position: relative;
            left: 20%;
            top: 6.5rem;
            width: 50%;
            
            &--details{
                font-size: 4.5rem;
                line-height: 4.5rem;
                letter-spacing: -2.16px;
            }
        }

        &--index{
            height: 43.75rem;

            &__bg_color{
                height: 43.75rem;
            }

            &__text{
                padding-bottom: 2rem;

                &--luxury{
                    font-size: 0.875rem;
                }
                
                &--details, &--details>pre{
                    font-size: 7.5rem;
                    line-height: 8.125rem;
                    letter-spacing: -3.6px;
                }
            }

            &__buttons{
                position: relative;
                display: flex;
                flex-direction: row;
                top: 6.5rem;
                left: 20%;

                button{
                    margin: 0 1.875rem 0 0;
                    width: 13.5rem;
                }
            }
        }
    }

    .breadcrumbs{
        right: 20%;
        padding: 1.25rem 2.5rem;
    }
}