.swiper_complete .swiper-pagination, .swiper_only_pagination .swiper-pagination{
    bottom: 0;
}

.page-number, 
.swiper_complete .custom-button-prev--rooms, 
.swiper_complete .custom-button-next--rooms, 
.swiper_only_pagination .custom-button-prev--rooms, 
.swiper_only_pagination .custom-button-next--rooms{
    @include button;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 2rem;
    height: 2rem;
    line-height: 1.25rem;
    color: $miranda_black;
}

.page-number{
    font-family: "Oswald";
    font-weight: 700;
    font-size: 0.875rem;

    &:not(:last-child){
        margin-right: 0.625rem;
    }
}

.active{
    background-color: $miranda_main_color;
    color: white;
}

.swiper_complete .custom-button-prev--rooms, 
.swiper_complete .custom-button-next--rooms,
.swiper_only_pagination .custom-button-prev--rooms, 
.swiper_only_pagination .custom-button-next--rooms{
    font-family: "Archivo";
    font-weight: 400;
    font-size: 1.25rem;
}

.custom-button-prev--rooms::after, .custom-button-next--rooms::after{
    display: none;
}
  
.swiper_complete .custom-button-prev--rooms, .swiper_only_pagination .custom-button-prev--rooms {
    margin-right: 0.625rem;
}

.custom-button-prev--only_navigation, .custom-button-next--only_navigation{
    top: 6.25rem;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 2rem;
    height: 2rem;
    line-height: 1.25rem;
    z-index: 3;
}

.custom-button-prev--only_navigation{
    color: #111111;
    background-color: white;
    left: 1rem;
}

.custom-button-next--only_navigation{
    color: white;
    background-color: $miranda_main_color;
    right: 1rem;
}