@import 'styles';
@import 'date-form';
@import 'rooms';

.main__arrival{
    background-color: $miranda_black;
    padding: 1.25rem;

    form{
        label{
            font-family: "Roboto";
            font-size: 1rem;
            color: white;

            input{
                padding-block: 0.875rem;
                padding-left: 1.5rem;
                border-bottom: 2px solid $miranda_main_color;
                background-color: transparent;
                font-family: "Roboto";
            }

            .input_background_image{
                background-position-x: left;
            }

            .input_background_image__calendar{
                background-image: url("../img/calendar_dark.svg");
            }
        }

        input[type=submit]{
            margin-bottom: 2rem;
            width: 70%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .main__arrival{

        form{
            display: flex;
            flex-direction: row;
            width: 60%;
            margin: 0 auto;

            label{
                width: 30%;
                margin-right: 1.875rem;

                input{
                    padding-block: 0.875rem;
                    padding-left: 1.5rem;
                    border-bottom: 2px solid $miranda_main_color;
                    background-color: transparent;
                    font-family: "Roboto";
                }

                .input_background_image{
                    background-position-x: left;
                }

                .input_background_image__calendar{
                    background-image: url("../img/calendar_dark.svg");
                }
            }

            input[type=submit]{
                margin-left: auto;
                margin-block: 1.25rem;
                width: auto;
            }
        }
    }
}

.about{
    margin: 3.5rem 1.25rem 0 1.25rem;

    &__text{
        &__name{
            font-family: "Archivo";
            font-weight: 700;
            font-size: 0.8125rem;
            line-height: 1.125rem;
            letter-spacing: 2.8px;
            color: $miranda_gray;
        }

        &__title{
            padding-block: 2rem;
            font-family: "Old Standard TT";
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 3.75rem;
            letter-spacing: -1.2px;
            color: #111111;
        }

        &__description{
            font-family: "Archivo";
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: $miranda_gray;
        }

        &__book{
            margin-top: 2rem;
            @include miranda_button($width: 70%, $f_family: "Archivo", $f_weight: 700, $f_size: 0.875rem, $l_spacing: 2.8px);
        }
    }

    &__team, &__luxury{
        padding: 3rem 3.25rem;

        &__img{
            display: block;
            width: 100%;
        }

        &__card{
            display: flex;
            flex-direction: column;
            padding: 2rem 1.5rem;
            width: 100%;

            &__icon{
                margin: 0 auto;
                width: fit-content;
            }

            &__title{
                padding-block: 2rem;
                font-family: "Old Standard TT";
                font-weight: 400;
                font-size: 1.875rem;
                line-height: 1.875rem;
                letter-spacing: -0.9px;
                text-align: center;
                color: #111111;
            }

            &__description{
                font-family: "Roboto";
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.375rem;
                text-align: center;
                color: #111111;
            }
        }
    }

    &__luxury__card{
        background-color: #111111;

        &__title, &__description{
            color: white;
        }
    }
}

@media screen and (min-width: 1000px) {
    .about{
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: 9rem auto;

        &__text{
            order: 3;
            width: 40%;

            &__name{
                line-height: 100%;
            }

            &__title{
                font-size: 5rem;
                line-height: 5.625rem;
                letter-spacing: -2.4px;
            }

            &__book{
                @include miranda_button($width: 50%, $f_family: "Archivo", $f_weight: 700, $f_size: 0.875rem, $l_spacing: 2.8px);
            }
        }

        &__team{
            order: 1;
            display: flex;
            flex-direction: column;
            width: 25%;
            padding: 0;

            &__card{
                order: 1;
                box-shadow: 0px 8px 16px 0px #22222205;
                margin-bottom: 1.875rem;
            }

            &__img{
                order: 2;
            }
        }

        &__luxury{
            order: 2;
            position: relative;
            width: 25%;
            padding: 0;
            top: 1.875rem;

            &__img{
                margin-bottom: 1.875rem;
            }
        }
    }
}

.popular_rooms{
    position: relative;

    &--list{
        padding-top: 3rem;
        font-family: "Archivo";
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        text-align: center;
        color: $miranda_gray;
    }
    
    &--room{
        margin-block: 0.9375rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -1.2px;
        text-align: center;
        color: $miranda_black;
    }
}

@media screen and (min-width: 1000px) {
    
    .popular_rooms{
        &--room{
            margin-block: 0.9375rem;
            font-family: "Old Standard TT";
            font-weight: 400;
            font-size: 5rem;
            line-height: 5rem;
            letter-spacing: -2.4px;
            text-align: center;
            color: $miranda_black;
        }
    }

    .popular{

        &__wrapper{
            display: flex;
            margin-bottom: 7rem;
            padding-bottom: 7rem;

            &__slide{
                width: 50%;
                padding: 5rem 0.5rem;
            }
        }
    }
}

.room__card{
    position: relative;
    margin: 1.25rem 0;

    &__icons{
        position: absolute;
        top: -1.375rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0.75rem 1.5rem;
        width: fit-content;
        background-color: white;
        box-shadow: 0px 8px 16px 0px #8A8A8A0D;
    }

    &__icons>:not(:last-child){
        padding-right: 1rem;
    }

    &__bottom{
        margin-inline: 1.25rem;
        bottom: 1.25rem;

        &__type{
            margin-top: 1.25rem;
        }
    }
}

@media screen and (min-width: 1000px) {

    .room__card{

        &__icons, &__bottom{
            opacity: 0;
            transition: 200ms ease-in-out;
        }

        .swiper-slide-active &__icons, .swiper-slide-active &__bottom{
            opacity: 1;
        }

        &__bottom{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            bottom: 2rem;
            padding: 2.375rem;
            
            &__type{
                order: 1;
                width: 50%;
                margin: 0;
                font-size: 2.25rem;
                letter-spacing: -1.08px;
                text-align: left;
                line-height: 100%;
            }

            &__description{
                order: 3;
                width: 70%;
                padding: .5rem 0 0 0;
                text-align: left;
            }

            &__pricing{
                order: 2;
                width: 30%;
                margin: 0;

                &__price{
                    width: 100%;
                    align-self: flex-end;
                    text-align: right;
                }

                span{
                    font-size: 2.5rem;
                }
            }
        }
    }

    .custom-button-prev--only_navigation, .custom-button-next--only_navigation{
        top: 25%;
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
    }

    .custom-button-prev--only_navigation{
        left: 18%;
    }

    .custom-button-next--only_navigation{
        right: 18%;
    }
}

.place{
    padding: 3.5rem 1.25rem;
    background-color: $miranda_black;

    &__name{
        font-family: "Archivo";
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: $miranda_main_color;
    }

    &__title{
        padding-block: 2rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -1.2px;
        color: white;
    }

    &__description{
        font-family: "Archivo";
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #C2C2C2;
    }

    .video{
        margin-block: 2rem;
    }

    &__book{
        @include miranda-button($width: 70%, $f_family: "Archivo", $f_weight: 700, $f_size: 0.875rem, $l_spacing: 2.8px);
    }
}

.features{
    padding: 1.25rem;

    &__title{
        margin-top: 1.75rem;
        font-family: "Archivo";
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        text-align: center;
        color: $miranda_gray;
    }

    &__description{
        margin-block: 1rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -1.2px;
        text-align: center;
    }

    &__card{
        position: relative;
        padding: 4.5rem 1.125rem 3rem 1.125rem;

        &__number{
            position: absolute;
            top: -0.5rem;
            right: 0.75rem;
            font-family: "Archivo";
            font-weight: 700;
            font-size: 7.5rem;
            line-height: 8.125rem;
            color: rgba($color: $miranda_black, $alpha: 0.04);
        }

        &__title{
            margin-block: 1.5rem;
            font-family: "Old Standard TT";
            font-weight: 400;
            font-size: 1.875rem;
            line-height: 1.875rem;
            letter-spacing: -0.9px;
            color: $miranda_black;
        }

        &__description{
            font-family: "Archivo";
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: $miranda_gray;
        }
    }
}

.swiper_complete .swiper-pagination-bullet, .swiper_only_pagination .swiper-pagination-bullet{
    background: #EDEDED;
    opacity: 1;
}

.swiper_complete .swiper-pagination-bullet-active, .swiper_only_pagination .swiper-pagination-bullet-active{
    background: $miranda_main_color;
}

.menu{
    position: relative;
    padding: 3.5rem 1.25rem;

    &__icon{
        position: relative;
        left: calc(100% - 5.5625rem + 1.25rem);
    }

    &__name{
        font-family: "Archivo";
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: $miranda_gray;
    }

    &__title{
        padding-block: 2rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -1.2px;
        color: $miranda_black;
    }

    &__card{
        display: flex;
        margin-block: 1rem;

        &__img{
            width: 7.5rem;
        }

        &__text{
            margin-left: 2rem;

            &__name{
                font-family: "Old Standard TT";
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 1.5rem;
                letter-spacing: -0.72px;
                color: $miranda_black;
            }

            &__description{
                font-family: "Roboto";
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.5rem;
                color: $miranda_black;
            }
        }
    }
}

.swiper-slide{
    margin-bottom: 2rem;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    top: auto;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    z-index: 3;
}

.swiper .swiper-button-prev::after, .swiper .swiper-button-next::after{
    content: none;
}

.swiper .swiper-button-prev{
    color: #111111;
    background-color: white;
    left: auto;
    right: 4rem;
}

.swiper .swiper-button-next{
    color: white;
    background-color: $miranda_main_color;
    right: 1rem;
}

.food_image{
    padding: 1.25rem;
}

.info{
    margin-block: 3rem;
    padding: 3rem 5.125rem;
    background-color: $miranda_black;
    text-align: center;

    &__card:not(:last-child){
        margin-bottom: 2rem;
    }

    &__card{
        &__number{
            font-family: "Roboto";
            font-weight: 700;
            font-size: 3.75rem;
            line-height: 136%;
            color: white;

            span{
                font-size: 1rem;
            }
        }

        &__text{
            position: relative;
            top: -1.75rem;
            font-family: "Roboto";
            font-weight: 700;
            font-size: 1rem;
            line-height: 136%;
            color: #999999;
        }
    }
}