@import 'styles';
@import 'rooms';


.offer__card{
    &__room{
        position: relative;
        padding-top: 3rem;
        padding-inline: 1.25rem;

        &--img{
            width: 100%;
        }
        
        &--price{
            position: absolute;
            bottom: 0;
            right: 1.25rem;
        
            *{
                padding-bottom: 0.9375rem;
                padding-right: 0.625rem;
                font-family: "Archivo";
                font-weight: 700;
                line-height: 100%;
                text-align: right;
            }

            &--former{
                font-size: 1.4375rem;
                text-decoration-line: line-through;
                color: $miranda_main_color;
            
                span{
                    display: inline-block;
                    padding-bottom: 0;
                    font-size: 0.6875rem;
                }
            }
            
            &--actual{
                font-size: 1.875rem;
                color: #DE5777;
            
                span{
                    font-size: 0.75rem;
                }
            }
        }
    }

    &__type{
        padding: 0.625rem 1.25rem;
        font-family: "Archivo";
        font-weight: 0.9375rem;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: $miranda_gray;
    }
    
    &__name{
        padding: 0.625rem 1.25rem;
        width: 85%;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: -1.44px;
        color: $miranda_black;
    }
    
    &__description{
        margin: 1.25rem;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $miranda_gray;
    }
    
    &__amenities{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1.25rem;
    
        h3{
            width: 100%;
            margin-bottom: 2.5rem;
            font-family: "Old Standard TT";
            font-weight: 400;
            font-size: 1.875rem;
            line-height: 1.875rem;
            color: $miranda_black;
        }

        &__amenitie{
            display: flex;
            width: 50%;
            padding-block: 0.625rem;
        
            img{
                width: 16px;
            }
        
            p{
                padding: 0.25rem;
                font-family: "Roboto";
                font-weight: 500;
                font-size: 0.9375rem;
                line-height: 100%;
                color: $miranda_gray;
            }
        }
    }

    &__book{
        @include miranda_button($width: 70%, $f_family: "Archivo", $f_weight: 700, $f_size: 0.875rem, $l_spacing: 2.8px);
        margin-inline: 1.25rem;
        margin-bottom: 2.5rem;
    }
}

.offer__popular_rooms{
    position: relative;
    background-color: $miranda_black;

    &--list{
        padding-top: 3rem;
        font-family: "Archivo";
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        text-align: center;
        color: $miranda_main_color;
    }
    
    &--room{
        margin: 0.9375rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.8px;
        text-align: center;
        color: white;
    }
}