@import 'styles';
@import 'rooms';
@import 'date-form';

.main__info{
    margin: 3rem 1.25rem;

    h3{
        font-family: "Archivo";
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: $miranda_gray;
    }

    p{
        margin-block: 0.625rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -1.44px;
        color: $miranda_black;
    }

    h4{
        font-family: "Archivo";
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.6875rem;
        color: $miranda_main_color;

        span{
            font-size: 0.8125rem;
        }
    }

    img{
        width: 100%;
    }
}

.main__description{
    margin: 2.5rem 1.25rem;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $miranda_gray;
}

.main__amenities{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.25rem;

    h3{
        width: 100%;
        margin-bottom: 2.5rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.875rem;
        color: $miranda_black;
    }

    &__amenitie{
        display: flex;
        width: 50%;
        padding-block: 0.625rem;
    
        img{
            width: 1rem;
        }
    
        p{
            padding: 0.25rem;
            font-family: "Roboto";
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 100%;
            color: $miranda_gray;
        }
    }
}

.main__founder{
    margin: 3.75rem 1.5625rem;
    text-align: center;

    &__images{
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 40%;
    
        *{
            border-radius: 999px;
        }

        &--founder{
            width: 100%;
        }
        
        &--verified{
            position: absolute;
            right: 0;
        }
    }

    &__name{
        margin-top: 1.25rem;
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.875rem;
        letter-spacing: -0.9px;
        color: $miranda_black;
    }
    
    &__position{
        padding: 0.9375rem;
        font-family: "Archivo";
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: $miranda_main_color;
    }
    
    &__descrpition{
        font-family: "Archivo";
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $miranda_gray;
    }
}

.main__cancellation{
    margin: 1.25rem;

    &__title{
        font-family: "Old Standard TT";
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.875rem;
        color: $miranda_black;
    }
    
    &__description{
        margin-block: 2.8125rem 5.625rem;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $miranda_gray;
    }
}

.main__related_rooms--title{
    margin: 1.25rem;
    font-family: "Old Standard TT";
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: $miranda_black;
}